<div class="container">
  <h1>Contactanos</h1>
    <form [formGroup]="ContactoForm">
        <div class="form-group">
          <label for="">Nombre</label>
          <input formControlName="nombre" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Ciudad</label>
          <input  formControlName="ciudad" type="text" class="form-control">
        </div>
        <div class="form-group">
          <select  formControlName="pais" name="" id="">
            <option value="">Selecciona un pais</option>
            <option *ngFor="let pais of paises" [value]="pais.name">{{ pais.name }}</option>
          </select>
        </div>
        {{ ContactoForm.value | json }}
      </form>
</div>